<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:component-scan base-package="uae.ensat" />

    
    <bean id="filiereRepository" class="uae.ensat.repository.FiliereRepository"/> 
    
    <bean id="eleveRepository" class="uae.ensat.repository.EleveRepository"/>
    
    <bean id="filiereService" class="uae.ensat.services.FiliereService">
        <property name="filiereRepository" ref="filiereRepository" />
    </bean>
    
    <bean id="eleveService" class="uae.ensat.services.EleveService">
        <property name="eleveRepository" ref="eleveRepository" />
    </bean>
    
    <bean id="filiereAction" class="uae.ensat.actions.FiliereAction">
        <property name="eleveService" ref="eleveService" />
        <property name="filiereService" ref="filiereService" />
    </bean>
    
    <bean id="eleveeAction" class="uae.ensat.actions.EleveAction">
        <property name="eleveService" ref="eleveService" />
        <property name="filiereService" ref="filiereService" />
    </bean>

</beans>